html {
    margin: 0px;
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
    background:#343838;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.loader {
    margin: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    background-image: url("https://unlicense.developpez.com/un-lib/apidocs/logo.png");
    background-size:100px;
    border: 8px solid #FFFFFF;
    -webkit-animation: 3s spin linear infinite;
    animation: 6s spin linear infinite;
    box-shadow:0px 0px 40px -2px white;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
